body {
    font-family: 'Kinuta Reiwa Kana', sans-serif;
}

h1 {
    font-family: 'Hana', serif;
    font-size: 48px;
}
.hero-section p{
    font-size: 24px;
}
.menu-item {
    font-family: 'Javanica', cursive;
}

section#menu {
    text-align: center;
}

section#menu>div {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

section#menu article {
    background-color: #cabfbf;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 0 0px #333;
    padding: 15px;
}

section#menu article:hover {
    background-color: #a0db61;
    box-shadow: 5px 5px 0 0px #e47070;

}

.menu-item div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.hero-section {
    background-image: url('shahi-dum.jpg');
    text-align: center;
    padding: 50px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hero-section div {
    backdrop-filter: brightness(0.5);
    width: fit-content;
    padding: 15px;
    margin: 0 auto;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
}

/* Style the navigation bar */
.navbar {
    background-color: #333;
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-items: center;
    align-content: center;
}

/* Style the logo */
.navbar img {
    float: left;
    padding: 10px;
    height: 50px;
}

/* Style the search bar */
.search-container {
    float: left;
    /* margin-top: 10px;
    margin-left: 20px; */
}

.search-container input[type=text] {
    padding: 6px;
    /* margin-top: 8px; */
    font-size: 17px;
    border: none;
    border-radius: 15px 0 0 15px;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    /* margin-top: 8px; */
    /* margin-right: 16px; */
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 15px 15px 0;

}

.search-container button:hover {
    background: #ccc;
}

/* Style the login button */
.login-btn {
    float: right;
    /* margin-top: 10px;
    margin-right: 20px; */
    padding: 6px 15px;
    border-radius: 15px;
}








.about-us,
.menu,
.services,
.contact-us {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}